@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7p2tib');
  src:  url('../fonts/icomoon.eot?7p2tib#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7p2tib') format('truetype'),
    url('../fonts/icomoon.woff?7p2tib') format('woff'),
    url('../fonts/icomoon.svg?7p2tib#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
