*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background: #365c24;
}

h6{
   font-size: 18px;
   }

a{
    text-decoration: none;
    color: white;
}

/** HEADER **/

.navbar{
    background: linear-gradient(to left, #000 66%, #16330b 81%);
    line-height: 1.5; /*overrides materialize nav line-height*/
    border-bottom: 5px solid #fa6712;
    height: 85px; /*overrides materialize nav height (64px) */
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    margin-top: 10px;
    margin-left: 30px;
}

.page-links{
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.page-links li{
    padding-bottom: 15px;
}

.page-links a{
    font-weight: 600;
    font-size: 1.04em;
    padding-left: 0;
    padding-right: 45px;
}

.navbar .page-links a:hover{
    background: none; /*overrides materialize effect*/
    color: #f96611;
    transition: 0.4s;
}

.navbar .page-links a:not(:hover){
    color: white;
    transition: 0.4s;
}

.media-links{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.media-links a{
    padding-left: 0;
    padding-right: 5px;
}

.media-links img{
    width: 25px;
}

/** HEADER CONTENT **/

.header-img{
    background: url('../img/home-img.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 530px;
    position: relative;
}

.header-content{
    position: absolute;
    top: 100px;
    left: 45px;
}

.header-content .slogan{
    width: auto; /*45% 536px*/
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.5em;
    text-shadow: -2px 5px 20px #000;
}

.header-content .slogan-2{
    background: white;
    display: inline-block;
    color: #425e34;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 0 5px;
    margin-top: 15px;
}


/** HEADER GREEN BARS **/

.header-bar{
    position: absolute;
    bottom: 0;
    z-index: 1;
    height: auto;
    width: 100%;
}

.hbar-1{
    background: rgba(22, 51, 11, 0.53);
    width: 55%;
    height: 80px;   
}

.hbar-2{
    background: #16330b;
    width: 45%;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
}



.hbar-3{
    background: #16330b;
    width: 100%;
    height: 40px;
}


.bar-angle{
    width: 600px;
    position: absolute;
    right: 0;
    top: -44px;
}


/*PRODUCTOS*/

.hbar-2 p{
   margin-top:  10px; 
    font-size: 15px;             
}

 .icon-angle-double-down{
    animation:  flecha-animada 2s ease-in-out infinite;
    display: inline-grid;    
          
}

.productos-tag{

    display: inline-grid;
             
}

.angle-left{
    position: absolute;
    left: 0;
    width:  142px;
    z-index: -1;
}

.icons{
       min-width: 80px;
       margin: auto;
       margin-top: 20px;
       max-width: 100px;
        
       }
.icons:hover{
transition: all 1s ease;                 
     transform:rotateY(360deg);        
             }



.productos ul,
.productos ul li{
    list-style: none;

}

.productos ul li{
     display: flex;

}

.contenedor-productos{
    
}

.contenedor-productos p{
    border:solid white;

}  


/*SUSCRIBETE BARS*/

.suscribete-bar{   
    display: flex;
   
}

.sbar-1{
    width: 100%;
    height: 100px; 
    background: #16330b;
}

.sbar-1 p{
    margin-top: 25px;
    font-size: 35px;
}


.suscribe-tag{
    display: inline-grid;              
}

.grow-s{
position: absolute; 
z-index: -1; 
width: 100%;

}

.form{
    margin-top: 15px; 
    display: flex;
    margin-bottom: 0;
    font-size: 20px;
      }

.form .tablet{
              width: 100%;
              height:100%;
              padding: 0 0 0 0;
      }

.buttons{
         width:180px;
         margin-top: 10px;
         padding-bottom: 15px;
         transition: all 0.5s ease;
}

.buttons:hover{
         transform: scale(1.2);
}


.input-field{    
    background: url(../img/input.svg) space 0px 4px;
    background-size: cover;
/*    background: #fff; */
    height: 42px;   
    width: inherit; 
    color:black;
    margin-bottom: 20px;
    margin-top: 25px;
}

input[type=text]:not(.browser-default){

    margin-left: -10.5px;
    padding-right:  20.5px;  
    text-indent:10px;             
}
.input-field label{    
    display: flex;
    justify-content: space-around;
    padding-right: 25%;

}



/*ANIMACIONES*/

@keyframes flecha-animada{
    from{
        transform:translateY(0);        
    }
    50%{
        transform:translateY(6px);
    }
    to{
        transform:translateY(0);
    }
}     

/** MATERIALIZE CHECKPOINTS **/

/** extra large .col .xl **/
@media only screen and (min-width: 1201px){
    
}

/** large .col .l **/
@media only screen and (min-width: 993px){
    .productos ul li{
    flex-direction: column;
    }
     .contenedor-productos h6{
    margin-top: 50px;
    font-size: 15px;
    }

    .sbar-1{
        background: transparent;
        width: 41%;
    }

    .sbar-1 p{
        margin-top:  5px;
        font-size: 30px;
    }

    .input-field{ 
    height: 45px;
}

.form{
    margin-top: 30px; 


      }

}

/** large .col .m **/
@media only screen and (min-width: 601px){

.hbar-2 p{
    margin-top:  30px;
    font-size: 30px;
}


/*SUSCRIBETE BARS*/





  


}


